<div class="span-24 last">

<% unless @contributors.empty? %>

<h2 style="border-bottom:0px">Contributors (<%= @contributors.count %>)</h2>

  <% @contributors.each_with_index do |repo, index| %>

    <div  class="span-5 append-1<% if (index+1).divmod(4)[1] == 0 %> last <% end %> ">
      <p>
      	<% if !!repo.owner_avatar  %>
          <img style="width:30px; vertical-align:middle" src="<%= repo.owner_avatar %>" />
        <% else %>
          <img style="width:30px; vertical-align:middle" src="/images/default-gravatar.png">
        <% end %>
         <a href="/users/<%= repo.owner %>"><%= repo.owner %></a>
       </p>
    </div>

  <% if (index+1).divmod(4)[1] == 0 %><br style="clear:both;" /><% end %>
  <% end %>

<% end %>
</div>
