<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ofxAddons</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/site.css">
</head>
<body>
	<div class="container" id="top">
		<div class="row">
			<div id="header" class="span12">
				<h1><a href="/">ofxAddons</a></h1>
				<p id="slogan">A directory of extensions and libraries for the <a href="http://openframeworks.cc">OpenFrameworks</a> creative coding toolkit. Compiled fresh from <a href="http://github.com">Github</a> daily.</p>
			</div>
            <div id="nav" class="span12">
			<% for category in @categories %>
				<a href="/#<%= category.slug %>"><%= category.name  %></a> / 
			<% end %>
			</div>

			<div id="howto-nav" class="span12">
				<a href="/howto">Contribute your own!</a>
				<a href="/changes">See freshest addons!</a>
			</div>

			<%= yield %>

			<div id="footer" class="span12">
				<p>Created by <a href="http://www.jamesgeorge.org/">James George</a>, <a href="http://gregborenstein.com">Greg Borenstein</a> and <a href="http://www.virtualjames.com">James Hughes</a>.</p>
				<p>Have questions? Don't see your addon? <a href="mailto:james@jamesgeorge.org">Email us</a>.</p>
			</div>
		</div>
	</div>
</body>
</html>