<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>ofxAddons</title>
    <link rel="stylesheet" href="/css/blueprint/screen.css">
    <link rel="stylesheet" href="/css/site.css?<%= DateTime.now() %>">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery.timeago.js" type="text/javascript"></script>
    <script src="js/ofxaddons.js" type="text/javascript"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-43122145-1', 'ofxaddons.com');
	  ga('send', 'pageview');
	
	</script>
	
    <script type="text/javascript">
      jQuery(document).ready(function() {
        $("abbr.timeago").timeago();
        $("#nav_links a").removeClass('current');
        $("#link_<%= @current %>").addClass('current');
      });
    </script>

  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24 last">
        <a id="logo" class="span-2 append-1" href="/"><img style="width:100px;padding-top:20px" src="<%settings.root%>/images/ofxlogo.png"/></a>

        <p id="slogan" class="span-18">
          <em>ofxAddons is a directory of extensions and libraries for the <a href="http://openframeworks.cc">OpenFrameworks</a> creative coding toolkit. Compiled fresh from <a href="http://github.com">Github</a> daily.</em>
        </p>
      </div>

      <div id="nav_links" class="span-26 last" style="border-bottom: 4px solid #999;">
        <a id="link_addons" href="/">addons</a> // <a  id="link_changes" href="/changes">freshest</a> //   <a  id="link_unfinished" href="/unfinished">unsorted</a> //   <a  id="link_contributors" href="/contributors">contributors</a> // <a id="link_howto" href="/howto/">make your own!</a>  
      </div>

      <%= yield %>
      <div id="footer" class="span-24 last">
        <p>Created by <a href="http://www.jamesgeorge.org/">James George</a>, <a href="http://gregborenstein.com">Greg Borenstein</a> and <a href="http://www.virtualjames.com">James Hughes</a>.</p>
        <p>Have questions? Don't see your addon? <a href="mailto:james@jamesgeorge.org">Email us</a>.</p>
        
      </div>
    </div>
    
  </body>
</html>
