<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>ofxAddons</title>
    <link rel="stylesheet" href="/css/blueprint/screen.css">
  
    <style>
      body {
        font-family: Arial, sans-serif;
      }
    
      #slogan {
        margin-bottom:0;
        margin-top: 18px;
        color: #FDBB1C;
      }
      
      #slogan a {
        color: #EE3987;
      }
      
      ul{
        list-style-type: none;
      }
      
      #nav {
        padding-left: 0;
        background: #3A3839;
        padding: 2px;
        padding-left: 40px;
        border-bottom: 18px solid #565455;
        color: #B9BBBD;
      }
      
      #nav a {
        color: #fff;
        text-decoration: none;
      }
      
      #nav {
        font-weight: bold;

        font-size:12px;
        margin-right: 0;

        margin-bottom: 18px;
      }
      
      #body a {
        color: #EE3987;
      }
      
      #body h2 a {
        color: #000;
        text-decoration: none;
      }
      
      .repo p{
        margin: 0;
      }
      
      .repo .name {
        font-weight: bold;
      }
      
      .repo .author {
        font-weight: bold;
      }
      
      .repo {
        margin-bottom: 18px;
      }
      
      .category h2 {
       border-bottom: 14px solid #B9BBBD;
      }
      
     
     
    </style>
  </head>
  <body>
    <div class="container">
    <div id="header" class="span-24">
      
      <h1 class="span-5">
        ofxAddons
      </h1>
      <p id="slogan" class="span-19 last">
        <em>A directory of extensions and libraries for the <a href="http://openframeworks.cc">OpenFrameworks</a> creative coding toolkit.</em>
      </p>
    </div>
    <%= yield %></div>
  </body>
</html>
