<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ofxAddons</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/site.css">
</head>
<body>
	<div class="container" id="top">
		<div class="row">
			<div id="header" class="span12">
				<h1><a href="/">ofxAddons</a></h1>
				<p id="slogan">A directory of extensions and libraries for the <a href="http://openframeworks.cc">OpenFrameworks</a> creative coding toolkit. Compiled fresh from <a href="http://github.com">Github</a> daily.</p>
			</div>

            <div id="howto-nav" class="navutils span3 offset1">
                <a href="/howto">Contribute your own!</a>
            </div>
            <div id="changes-nav" class="navutils span3 offset1">
                <a href="/changes">See freshest addons!</a>
            </div>
            <div id="social-nav" class="navutils span3 offset1">
                <iframe src="http://ghbtns.com/github-btn.html?user=atduskgreg&repo=ofxaddons.com&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>    
                <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1352365724.html#_=1354021167400&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=ofxaddons&amp;show_count=false&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button" style="width: 60px; height: 20px;" title="Twitter Follow Button" data-twttr-rendered="true"></iframe>
            </div>

			<%= yield %>

			<div id="footer" class="span12">
				<p>Created by <a href="http://www.jamesgeorge.org/">James George</a>, <a href="http://gregborenstein.com">Greg Borenstein</a> and <a href="http://www.virtualjames.com">James Hughes</a>.</p>
				<p>Have questions? Don't see your addon? <a href="mailto:james@jamesgeorge.org">Email us</a>.</p>
			</div>
		</div>
	</div>
</body>
</html>