<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>ofxAddons</title>
    <link rel="stylesheet" href="/css/blueprint/screen.css">
    <link rel="stylesheet" href="/css/site.css?<%= DateTime.now() %>">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="js/jquery.timeago.js" type="text/javascript"></script>
    <script src="js/ofxaddons.js" type="text/javascript"></script>

    <script type="text/javascript">
      jQuery(document).ready(function() {
        $("abbr.timeago").timeago();
      });
    </script>

  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24 last">
        <a id="logo" class="span-4 append-1" href="/"><img style="width:150px;padding-top:20px" src="<%settings.root%>/images/ofxlogo.png"/></a>

        <p id="slogan" class="span-16">
          <em>ofxAddons is a directory of extensions and libraries for the <a href="http://openframeworks.cc">OpenFrameworks</a> creative coding toolkit. Compiled fresh from <a href="http://github.com">Github</a> daily.</em>
        </p>
      </div>

      <div id="nav_links" class="span-23 last">
        <a class="current" href="/">addons</a> // <a href="/changes">freshest</a> //   <a href="/unfinished">unsorted</a> //   <a href="/contributors">contributors</a>   
      </div>

      <div id="nav" class="span-24 last">
        <div class="nav_label span-1 append-1">category</div>
        <div id="nav_categories" class="span-10">
          <% for category in @categories %>

            <div id="c_<%= category.id %>" class="toggle selected"><%= category.name.downcase  %></div>
          <% end %>
        </div>

        <div class="nav_label span-1 append-1">platform</div>
        <div id="nav_platforms" class="span-3 append-1">
          <div id="p_0" class="toggle">osx</div>
          <div id="p_0" class="toggle">windows</div>
          <div id="p_0" class="toggle">linux</div>
          <div id="p_0" class="toggle">ios</div>
          <div id="p_0" class="toggle">android</div>
          <div id="p_0" class="toggle">rpi</div>
        </div>


        <div class="nav_label span-1">etc</div>
        <div id="nav_other" class="span-4">
          <div id="p_0" class="toggle">stars</div>
          <div id="p_0" class="toggle">updated since</div>
          <div id="p_0" class="toggle">makefile</div>
          <div id="p_0" class="toggle">example</div>
        </div>
      </div>
      

      <%= yield %>
      <div id="footer" class="span-24 last">
        <p>Created by <a href="http://www.jamesgeorge.org/">James George</a>, <a href="http://gregborenstein.com">Greg Borenstein</a> and <a href="http://www.virtualjames.com">James Hughes</a>.</p>
        <p>Have questions? Don't see your addon? <a href="mailto:james@jamesgeorge.org">Email us</a>.</p>
      </div>
    </div>
  </body>
</html>
