body {
  font-family: Arial, sans-serif;
}

body {

  padding: 0;
  margin: 20px 0;
}

#logo:hover {
  background: none;
}

#slogan {
  margin: 10px 0 0 0;
  color: #999;
  font-size: 18px;
}

#slogan a {
  color: #EE3987;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav_links{
  font-size: 24px;
  margin: 10px 0 20px 0;
}

#nav_links a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

#nav_links a:hover, #nav_links a.current {
  /*color: #fff;*/
  color: #EE3987;
  background: none;
}

#nav {
  width:932px;
  margin-bottom: 20px;
}

#nav a {
  color: #fff;
  text-decoration: none;
}

#nav a:hover {
  color: #D05399;
  background: none;
}

#nav_categories, #nav_platforms, #nav_other {
  display: inline-table;
}


.nav_label {
  font-weight: bold;
}

.toggle, .menu {
  color: #EE3987;
  background: none;
  cursor: pointer;
  padding: 2px 4px;
  margin: 2px;
  display: inline-block;
}

.toggle.selected, .menu.selected{
  color: #FFF;
  background: #EE3987 !important;

}

.toggle:hover, .menu:hover {
  color: #FFF;
  background: #F2B9D3;
}

.nav_drop_menu {
  position: absolute;
  color: #EE3987;
  background: white;
  cursor: pointer;
  margin: 2px 0 0 -3px;
  display: inline-block;
  outline: #EE3987 solid 1px;
  text-align: left;
}

.nav_drop_menu li {
  padding: 2px 4px;
}

.nav_drop_menu li:hover {
  color: white;
  background: #EE3987;
}

a {
  color: #EE3987;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background: #EE3987;
  text-decoration: none;

}

#body h2 a {
  color: #000;
  text-decoration: none;
}

#body h2 a:hover {
  background: none;
}

.clear {
  clear: both;
}

.repo p{
  margin: 0;
}

.repo .bg {
  height:70px;
  position: relative;
}

.repo span.feature {
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  font-size: 11px;
}

.repo span.makefile {
  background: #CBB9F8;
}

.repo span.example {
  background: #B9D8F8;
}

.repo .bg .name {
  position: absolute;
  display: block;
  bottom: 0;
  padding: 0px 6px 0px 4px;
}

.repo .name {
  font-size: 16px;
  background-color: #E6E8EA ;
  word-wrap: break-word;
  padding: 6px 0px 0px 4px;
}

.repo .github {
  font-weight: bold;
}

.repo {
  margin-bottom: 40px;
}

.warning {
  background-color: #f00;
  padding: 2px;
  margin: 2px;
  color: #fff;
  font-weight: bold;
}

h2 {
  /*border-bottom: 14px solid #B9BBBD;*/
}

/*#howto h2 {
  border-bottom: 14px solid #B9BBBD;
}*/

h1 a {
  color: #000;
  text-decoration: none;
}

h1 a:hover{
  color: #000;
  background: none;
}

#header p a:hover{
  color: #fff;
}

.repo_page h2 {
  border-bottom: 14px solid #B9BBBD;
}

.repo_page .repo_category {
  float: right;
  background: #3A3839;
  font-size: 14px;
  margin-top: 4px;
  padding: 4px;
}

.repo_page .repo_category a {
  color: #fff;
  text-decoration: none;
}

.repo_details  p {
  margin: 0;
}

.repo_readme pre {
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.repo_readme {
  color: #444;
  font-size: 85%;
  border: 1px solid #E9E9E9;
  background-color: #F8F8F8;
  padding: .7em;
}  

#footer {
  border-top: 14px #565455 solid;
  padding-top: 18px;
  margin-bottom:18px;
  color: #565455;
  font-style: italic;
}

#footer p {
  padding-left: 40px;
  margin: 0;
}

.download a {
  color: #fff;
  padding: 2px;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  font-weight: bold;
  background: #E07EAA;
}

.download a:hover{
  background: #EE3987;
}

.changedRepo {
    margin-bottom: 40px;
}

.changedRepo img{
	/*float: left;*/
/*  margin-right: 10px;*/
	margin-bottom: 10px;
	/*margin-left: 20px;*/

}


.commitMessage {
    background: #eee;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 5px;
}

.commitIntro {
    color: #aaa;
    margin: 0;
    font-style: italic;
}

.userIcon{
  width: 16px;
  vertical-align: bottom;
}

.userPage img{
  float: left;
}

.userPage .name{
    margin-top: -15px;
    margin-bottom: 5px;
}

.starImage{
  width:16px;  
  vertical-align:top;
}

.indent{
  margin:0 -20px 1.5em 20px;
}

#howto h2{
  border-bottom: 4px solid #E6E8EA;
}

#howto{
  font-size: 13px;
}

#howto li{
  padding-bottom: 8px;
}

.howtoSide li{
  padding-bottom: 8px;
}

.description{
    font-style: italic;
    padding: 6px 0;
}

.repo .name {
  padding: 6px 0px 0px 4px;
  /*padding: 4px 8px;*/
}

.repo .name a{
  color: #444;
}

.repo .name a{
  color: #444;
}

.repo .name a:hover{
  color: #fff;
}

.userPage h1 a:hover{
  color: #EE3987;
}

abbr{
  border-width: 0px;
}

