body {
	font-family: 'Segoe UI', Arial, sans-serif;
}

#header
{
	font-family: 'Questrial', 'Segoe UI', Arial, sans-serif;
	margin-top:20px;
	margin-bottom:20px;
}

#slogan {
	font-size:0.8em;
	line-height:15px;
	border-left:5px solid #bfbfbf;
	padding-left:10px;
	margin-left:10px;
	max-width:500px;
	display: inline-block;
}

#nav {
	background: #3A3839;
	color: #B9BBBD;
	font-weight: bold;
	font-size: 11px;
}

	#nav a {
		color: #fff;
		text-decoration: none;
	}

		#nav a:hover {
			color: #D05399;
			background: none;
		}

.navutils {
	background: #fff;
	color: #EE3987;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	padding:10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border: solid 1px #EE3987;
}

	.navutils:hover, .navutils a:hover {
		color: #fff;
		background: #EE3987;
	}

a {
	color: #EE3987;
}

	a:hover {
		color: #fff;
		background: #EE3987;
		text-decoration: none;
	}

.sidebar
{
	margin-top:60px;
}

h2 {
	font-family: 'Questrial', 'Segoe UI', Arial, sans-serif;
	border-bottom: 8px solid #B9BBBD;
}

h1
{
	display: inline-block;
}

	h1 a
	{
		color: #000;
		text-decoration: none;
	}

		h1 a:hover
		{
			color: #000;
			background: none;
		}

#body h2 a {
	color: #000;
	text-decoration: none;
}

	#body h2 a:hover {
		background: none;
	}

.repo p {
	margin: 0;
}

.repo .name {
	font-weight: bold;
}

.repo .author {
	font-weight: bold;
	color: #9f9f9f;
}

.repo {
	margin-bottom: 20px;
}

.description {
	font-size:0.9em;
}

.warning {
	background-color: #f00;
	padding: 2px;
	margin: 2px;
	color: #fff;
	font-weight: bold;
}

.repo_page h2 {
	border-bottom: 8px solid #B9BBBD;
}

.repo_page .repo_category {
	float: right;
	background: #3A3839;
	font-size: 14px;
	margin-top: 4px;
	padding: 4px;
}

	.repo_page .repo_category a {
		color: #fff;
		text-decoration: none;
	}

.repo_details p {
	margin: 0;
}

.repo_readme pre {
	font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.repo_readme {
	color: #444;
	font-size: 85%;
	border: 1px solid #E9E9E9;
	background-color: #F8F8F8;
	padding: .7em;
}

#footer {
	border-top: 14px #565455 solid;
	padding-top: 18px;
	margin-bottom: 18px;
	color: #565455;
	font-style: italic;
}

	#footer p {
		padding-left: 40px;
		margin: 0;
	}

.download a {
	color: #fff;
	padding:3px 5px 1px 6px;
	text-decoration: none;
	background: #E07EAA;
	border-radius:50%;
}

	.download a:hover {
		background: #EE3987;
	}
	
.changedRepo {
	margin-bottom: 40px;
}

	.changedRepo img {
		float: left;
		/*  margin-right: 10px;*/
		margin-bottom: 10px;
		margin-left: 20px;
	}

.repoOwner {
	color: #666;
	font-style: italic;
	text-align: center;
}