body {
  font-family: Arial, sans-serif;
  padding
}


#slogan {
  margin-bottom:0;
  margin-top: 18px;
  /*color: #FDBB1C;*/
  color: #999;
  font-size: 20px;
}

#slogan a {
  color: #EE3987;
}

ul{
  list-style-type: none;
}

#nav {
  padding-left: 0;
  background: #3A3839;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #B9BBBD;
  font-weight: bold;

  font-size:11px;
  width:932px;
  margin-right: 0;
  margin-bottom: 10px;
}

#nav a {
  color: #fff;
  text-decoration: none;
}

#nav a:hover {
  color: #D05399;
  background: none;
}

#howto-nav a {
  color: #666;

  text-decoration: none;
  font-weight: bold;
}

#howto-nav a:hover {
  /*color: #fff;*/
  color: #EE3987;

  background: none;
}

#howto-nav{
  /*background: #e1e1e1;*/
  /*background: #565455;*/
  padding-left: 32px;
  padding-right: 10px;
 /* margin-bottom: 18px;*/
  margin-bottom: 0px;
  text-align: right;
  margin-top: -10px;
}

a {
  color: #EE3987;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background: #EE3987;
  text-decoration: none;

}

#body h2 a {
  color: #000;
  text-decoration: none;
}

#body h2 a:hover {
  background: none;
}

.repo p{
  margin: 0;
}

.repo .bg {
  height:70px;
  position: relative;
  background: url(https://raw.github.com/kikko/ofxSpine/master/addon_thumbnail.png) center center;
}

.repo span.makefile {
  background: #E6E8EA;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  font-size: 11px;
}

.repo .bg .name {
  position: absolute;
  display: block;
  bottom: 0;
  padding: 0px 6px 0px 4px;
}

.repo .name {
  font-size: 16px;
  background-color: #E6E8EA ;
  word-wrap: break-word;
  padding: 6px 0px 0px 4px;
}

.repo .github {
  font-weight: bold;
}

.repo {
  margin-bottom: 18px;
}

.warning {
  background-color: #f00;
  padding: 2px;
  margin: 2px;
  color: #fff;
  font-weight: bold;
}

h2 {
  /*border-bottom: 14px solid #B9BBBD;*/
}

#howto h2 {
  border-bottom: 14px solid #B9BBBD;
}

h1 a {
  color: #000;
  text-decoration: none;
}

h1 a:hover{
  color: #000;
  background: none;
}

#header p a:hover{
  color: #fff;
}

.repo_page h2 {
  border-bottom: 14px solid #B9BBBD;
}

.repo_page .repo_category {
  float: right;
  background: #3A3839;
  font-size: 14px;
  margin-top: 4px;
  padding: 4px;
}

.repo_page .repo_category a {
  color: #fff;
  text-decoration: none;
}

.repo_details  p {
  margin: 0;
}

.repo_readme pre {
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.repo_readme {
  color: #444;
  font-size: 85%;
  border: 1px solid #E9E9E9;
  background-color: #F8F8F8;
  padding: .7em;
}  

#footer {
  border-top: 14px #565455 solid;
  padding-top: 18px;
  margin-bottom:18px;
  color: #565455;
  font-style: italic;
}

#footer p {
  padding-left: 40px;
  margin: 0;
}

.download a {
  color: #fff;
  padding: 2px;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  font-weight: bold;
  background: #E07EAA;
}

.download a:hover{
  background: #EE3987;
}

.changedRepo {
    margin-bottom: 40px;
}

.changedRepo img{
	/*float: left;*/
/*  margin-right: 10px;*/
	margin-bottom: 10px;
	/*margin-left: 20px;*/

}

.repoOwner {
    color: #666;
    font-style: italic;
    /*text-align: center;*/
}

.repoDescription {
    color: #666;
    font-style: italic;
}

.repoName {
    line-height: 1.2em;
    font-size: 2.4em;
    margin-bottom: 0;
}

.commitMessage {
    background: #eee;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 5px;
}

.commitIntro {
    color: #aaa;
    margin: 0;
    font-style: italic;
}

.userIcon{
  width: 16px;
  vertical-align: bottom;
}

.userPage img{
  float: left;
}

.userPage .name{
    margin-top: -15px;
    margin-bottom: 5px;
}

.starImage{
  width:16px;  
  vertical-align:top;
}

.indent{
  margin:0 -20px 1.5em 20px;
}

#howto h2{
  border-bottom: 4px solid #E6E8EA;
}

.description{
    font-style: italic;
    padding-bottom: 5px;
}

.repo .name a{
  color: #444;
}

.repo .name a:hover{
  color: #fff;
}
