.addon-banner {
  height: 70px;
  overflow: hidden;
  position: relative;
}
.addon-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  padding: .25em;
  margin: 0;
  background-color: #E6E8EA;
  word-wrap: break-word;
}
