//
//  Sass variables
//

$brand-primary: #EE3987;
$navbar-default-bg: #fff;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: $brand-primary;
$navbar-vertical-offset: 70px;
$dl-horizontal-offset: 100px;
$well-bg: #fafafa;


//
// CSS libraries
//

// NOTE: "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "font-awesome-sprockets";
@import "font-awesome";


//
// Site-wide styles
//

body {
  padding-top: $navbar-vertical-offset;
}

h1, h2, h3, nav {
  font-family: 'Questrial', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  width: 12.5em;
}

.navbar-brand > img {
  margin-right: 0.5em;
  display: inline-block;
}

.navbar-nav {
  .current-user {
    padding-top: 15px;
    padding-bottom: 15px;
    // display: none;
  }
}

.sidebar .affixed {
  position: fixed;

  h4:first-child {
    margin-top: 0;
  }
}


a[name]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

.sidenav {
  li {
    border-right: 1px solid white;
    &:hover {
      border-right: 1px solid $navbar-default-link-color;
    }
    a {
      padding: 2px 15px 2px 0;
      // color: $gray;
      &:hover {
        color: $navbar-default-link-color;
        background-color: $body-bg;
      }
    }
  }
}

//
// Repos
//

.repo {
  padding: 15px 27px;

  .repo-banner {
    height: 70px;
    width: 270px;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
  }

  .repo-name {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .25em;
    margin: 0;
    font-size: 120%;
    background-color: #f4f4f4;
    word-wrap: break-word;
  }

  .description {
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: italic;
  }
}

#admin_repos_index {
  table.repos {
    table-layout: fixed;
    thead,
    thead tr,
    thead th {
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }

    th {
      white-space: nowrap;
      height: 86px;
      position: relative;

      & > div {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-12px, -24px) rotate(315deg);
        width: 104px;
        & > span {
          display: block;
          padding: 0 0 0 16px;
          border-top: 1px solid #ccc;
          line-height: 1em;
          font-size: small;
        }
      }
    }
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td, th {
      &.repo-type {
        width: 5.75em;
      }

      &.repo-name,
      &.pushed-at,
      &.maintainer {
        width: 10em;
      }

      &.stargazers-count,
      &.example-count,
      &.makefile {
        width: 1.5em;
        white-space: nowrap;
      }

      &.description {
        min-width: 400px;
      }

      &.actions {
        width: 17.5em;
      }
    }
  }
}
